/* Add your CSS to this file */
:root
{
    --defaultfontdamily: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
    --defaultfontsize: 18px;
}
div
{
    /*border: 1px solid black;
    REMEMBER TO REMOVE THIS*/
    margin: 10px;
    font-family: var(--defaultfontsize);
    font-size: var(--defaultfontsize);
}
body 
{
    margin: 0;
    font-size: 16px;
    /*background-color: green;
    REMEMBER TO REMOVE THIS*/
}
main
{
    margin-bottom: 0px;
    /*border: 3px solid purple;
    REMEBER TO REMOVE*/
}
.container 
{
    margin: 0 auto;
    max-width: 960px;
    width: 100%;
}
img
{
    width: 150px;
    height:150px;
}
nav a
{
    text-decoration: none;
    color: #6b7280;
    
}
nav a:hover
{
    color: #5A67D8;
}
header
{
    background-color:white;
}
header .container
{
    display: flex;
    justify-content: space-between;
}
h1
{
    font-size: var(--defaultfontsize);
}
nav
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-size: var(--defaultfontsize);
}
ul
{
    list-style-type: none;
}
li
{
    display: inline;
    margin: 5px;
}
section
{
    margin-top: 15px;
    margin-bottom: 15px;
    /*border: 5px solid red;
    Remember to remove this*/
}
.overview-hero
{
    background-color:#E2E8F0;
}
.overview-hero .container
{
    display: flex;
    justify-content: space-around;
}
.overview-hero-image
{
    width: 180px;
}
.overview-hero-text
{
    width: 600px;
}
.learn-about .container h2
{
    font-size: 24px;
    color: #48BB78
}
.cards
{
    display: grid;
    grid-template-columns: 220px 220px 220px;
    grid-template-rows: 480px;
    grid-gap: 30px;
    justify-content: center;
}
.card
{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: #E2E8F0;
    width: 220px;
    border-radius: 5px;
    box-shadow: 5px 5px #888888;
}
.card-body h3
{
    color: #48BB78;
    font-size: 21px;
}
.card img
{
    width: 180px;
    height: 180px;
}

.testing
{
    background-color: #4A5568;
    color: white;
}
.testing .container
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.cta
{
    width: 150px;
    height: 50px;
    background-color: #48BB78;
    border-radius: 5px;
    text-align:center;
    vertical-align: middle;
    line-height: 50px
}
.cta .btn
{
    color: white;
    text-decoration: none;
}
.testing-desciption
{
    width: 600px;
    
}
.stories h2
{
    color: #5A67D8
}
article
{
    display: flex;
    align-items: center;
}
article div
{
    width: 750px;
}
article img
{
    border-radius: 50%;
}
.article-body h3
{
    font-size: 18px;
}
article a
{
    color: #5A67D8;
}
.newsletter
{
    background-color: #48BB78;
    color: white;
    margin-bottom: 0px;
}
.newsletter .container
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
form
{
    display: flex;
    flex-direction: row;
    align-items: center;
}
form input
{
    height: 30px;
    width: 250px;
}
form .btn
{
    background-color: #5A67D8;
    border-radius: 5px;
    width: 150px;
    height: 50px;
}
footer
{
    overflow: hidden;
    margin-top: 0px;
    color: white;
    background-color: #4A5568;
    /*border: 1px solid #4A556e;*/
    /*REMEBER TO REMOVE*/
}